body{
    overflow-x:hidden;
}


.banner{
    background-image: url("yoga1.png");
    background-size:cover;
    position:relative;
    bottom:9.5px;
    height:400px;
    width:1278px;
    border:1px solid;
    margin:auto;
   }

   .indoorExercise h1{
    height:20px;
    width:300px;
    font-size:27px;
    margin-left:55px;
    margin-top:40px;
    margin-bottom:25px;
    background-color:#225882;
    color:white;
    padding:10px;
    display:flex;
    align-items:center;
    border-radius:3px;
    font-weight:600;
    }

    .indoorExercise p{
   
        width:90%;
        margin:auto;
        font-size:22px;
        border-left:2px solid rgb(10, 91, 171);
        padding-left:15px;
        line-height:1.4em;
        margin-bottom:40px;
     }   

     .row{
        margin-top:50px;
        margin:auto;
        height:400px;
        width:100%;
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }
    
    
    .cart{
        height:350px;
        width:300px;
        border-radius:10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        transition:all 500ms;
    }

    .cart:hover{
        transform:scale(1.15);
        cursor:pointer;
    }
    
    .image{
        margin-top:7px !important;
        height:170px;
        width:287px;
        margin:auto;
        border-radius:5px;
        background-size:cover;
    }
    
     .info{
       width:275px;
       margin:auto;
       line-height:1.4rem;
       text-align:justify;
    }

    #cart1 .image{
        background-image:url("childpose.png");
    }
    
    #cart2 .image{
        background-image:url("catcow.png");
    }
    
    #cart3 .image{
        background-image:url("easypose.png");
    }
    
    #cart4 .image{
        background-image:url("boundangle.png");
    }
    
    #cart5 .image{
        background-image:url("forwardbent.png");
    }
    
    #cart6 .image{
        background-image:url("fishpose.png");
    }
    
    #cart7 .image{
        background-image:url("dogpose.png");
    }
    
    #cart8 .image{
        background-image:url("lungepose.png");
    }
    
    #cart9 .image{
        background-image:url("standingbent.png");
    }